body {
  background-color: rgba(200, 195, 178, 0.699);
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}

/* div {
  height: 250px;
  width: 250px;
  background-color: rgb(238, 255, 0);
}
@media (width: 600px) {
  div {
    background-color: red;
  }
}

@media (min-width: 600px) {
  div {
    background-color: rgb(47, 0, 255);
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  div {
    background-color: rgb(255, 0, 191);
  }
} */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.card {
  /* display: flex; */
  flex: 1;
  padding: 40px;
  background-color: rgb(88, 177, 207);
  text-align: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

@media (max-width: 650px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
    padding: 0;
  }

  .container {
    flex-direction: column;
  }
}
