body {
  background-color: rgb(13, 51, 51);
  font-family: "Times New Roman", Times, serif;
}
#box {
  background-color: blue;
  text-align: center;
}

.heading {
  color: red;
  text-align: center;
}

button {
  background-color: green;
}

#p1 {
  color: rgba(52, 204, 204, 0.6);
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
}

#p2 {
  color: rgba(183, 0, 255, 0.7);
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
}

/* Practice Set 2  */

#h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}

#divout {
  color: beige;
  font-size: 25px;
}

#divin {
  color: rgba(219, 13, 13, 0.616);
  font-size: 10px;
}

/* End Of Practice - 2 */

/* Box Model */

div {
  height: 200px;
  width: 200px;
  background-color: rgb(144, 233, 233);
  color: rgb(255, 30, 0);
  border: 2px solid rgb(40, 0, 116);
  border-radius: 10px;
  padding: 10px 10px 5px 5px;
  margin: 10px 10px 5px 5px;
  display: inline-block;
  visibility: hidden;
}
