body {
  background-color: rgb(97, 69, 34);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 150px;
  width: 100px;
  height: 100px;
  font-size: 20px;
  background-color: rgb(235, 136, 7);
  border: 2px solid black;
  /* transition: all 2s ease-in-out 0.2s; */
  /* rotate: z 90deg; */
  /* transform: scale(1, 2); */
  /* transform: translate(50px); */

  /* animation-name: colorAnimation;
  animation-duration: 2s; */
  /* animation-timing-function: ease-in; */
  /* animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: colorAnimation 4s ease-in-out 1s infinite alternate-reverse;
}

@keyframes colorAnimation {
  0% {
    background-color: antiquewhite;
    left: 0px;
  }
  50% {
    background-color: blueviolet;
  }
  100% {
    background-color: blue;
    left: 200px;
  }
}

div:hover {
  width: 300px;
  /* background-color: blue;
  color: aqua;  */
  /* transform: scale(2);
  transform: rotate(180deg);*/
  /* transform: translateY(200px);*/
  /* transform: skew(60deg); */
}

/* div:active {
  background-color: green;
} */
