body {
  background-color: rgb(60, 116, 116);
}

.Box1 {
  width: 100px;
  height: 100px;
  background-color: rgb(61, 61, 221);
  border-radius: 5px;
  /* position: relative;
  position: absolute; */
  position: fixed;
  right: 0px;
  top: 50px;
}
