body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */

  gap: 15px;
  padding: 20px;
  border: 3px rgb(218, 233, 18) solid;
}

.box {
  background-color: #08a3a8;
  color: rgb(255, 9, 9);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 2px solid black;
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .container {
    grid-template-columns: 1fr;
  }
}
