body {
  background-color: rgb(4, 106, 138);
}

.loader {
  position: absolute;
  top: 150px;
  left: 500px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(247, 247, 241);
  border: 20px solid rgb(156, 207, 14);
  border-top: 20px solid rgb(46, 175, 14);
  animation: rotateAnimate 2s ease-in-out 0s infinite normal;
}

@keyframes rotateAnimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
